fieldset,
legend,
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: none;
	border-radius: 0;
	margin: 0;
	outline: none;
	padding: 0;
}

input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"] {
	border: 1px solid #ccc;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 4px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="week"],
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: 1px solid #ccc;
	border-radius: 0;
	font-size: 16px;
	margin-left: 0;
	margin-right: 0;
	outline: none;
	padding: 4px;
}

textarea {
	height: 100px;
	overflow: auto;
	width: 100%;
}

select {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALJJREFUeNrslssNgCAQRCmB0ijBEuyEEijBEijBEizBEnAPy0UBWVj8JDvJJB5w3gsXVUoikXwsBrpAPdRCNcOmxi2P2yZ3cIKGU9dOCY0b590pdXhPHOyRyMEDsi4JhVIlSvBYTRGgSNTAQ+pFyyBRC7e5AdchUQt3d1fYIsEGb5Fgh1MktlFwisQwOIeE4/pGuDfhLRLscIrEMHiNxHB4SeIxeMyMPxkenyUSyT9zCDAAj5btZ4c3zaUAAAAASUVORK5CYII=");
	background-position: right 8px center;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	padding-right: 30px;
}

.select {
	background: #fff;
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.select select {
	background: none;
	border: 1px solid #ccc;
	cursor: pointer;
	padding-right: 24px;
	text-overflow: "";
	width: 100%;
}

.select::before {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666;
	content: "";
	height: 0;
	padding: 0;
	pointer-events: none;
	position: absolute;
	right: 8px;
	top: 13px;
	width: 0;
}

/* radio & checkbox */

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input[type="radio"] + span,
input[type="checkbox"] + span {
	color: #555;
	cursor: pointer;
	display: inline-block;
	font-size: 1.4rem;
	line-height: 1;
	margin-left: 8px;
	padding: 10px 20px;
	position: relative;
	text-align: center;
}

input[type="radio"] + span::before,
input[type="checkbox"] + span::before {
	background: #fff;
	border: 1px solid #ccc;
	content: "";
	height: 16px;
	left: -8px;
	margin-top: -8px;
	position: absolute;
	top: 50%;
	width: 16px;
}

/* fieldset */

fieldset {
	border: 1px solid #ccc;
	padding: 8px 16px;
}

legend {
	padding: 0 8px;
}

/* button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	-webkit-box-sizing: content-box;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	background: #efefef;
	border: 1px solid #999;
	border-radius: 0;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	margin: 0;
	padding: 10px 30px;
}

/* ブラウザ対策
---------------------------------------------------------------------------- */

/* Firefox */

/* IE */

select::-ms-expand {
	display: none;
}

/* webkit */

/* iOS */

input[type="submit"]::-webkit-search-decoration,
input[type=reset]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-decoration {
	display: none;
}

::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
	-moz-appearance: none;
	-webkit-appearance: textfield;
	-webkit-box-sizing: border-box;
	-webkit-appearance: none;
	appearance: none;
	background: none;
	border: 0;
	border-radius: 0;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 0;
}

/* 挙動
---------------------------------------------------------------------------- */

/* hover */

input:hover,
textarea:hover,
select:hover {
	border-color: #666;
}

input[type="radio"] + span:hover,
input[type="checkbox"] + span:hover {
	color: #000;
}

input[type="radio"] + span:hover::before,
input[type="checkbox"] + span:hover::before {
	border-color: #000;
}

input[type="radio"] + span:hover::after,
input[type="checkbox"] + span:hover::after {
	background: #ccc;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* checked */

input[type="radio"]:checked + span,
input[type="checkbox"]:checked + span {
	color: #3498db;
}

input[type="radio"]:checked + span::before,
input[type="checkbox"]:checked + span::before {
	border-color: #3498db;
}

input[type="radio"]:checked + span::after,
input[type="checkbox"]:checked + span::after {
	background: #3498db;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* radio */

input[type="radio"] + span::before,
input[type="radio"] + span:hover::after,
input[type="radio"]:checked + span::after {
	border-radius: 50%;
}

/* button */

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover {
	background: #3498db;
	border-color: #3498db;
	color: #fff;
}

/* focus */

input:focus,
textarea:focus {
	border-color: #3498db;
}

input[type="submit"]:focus,
input[type=reset]:focus,
input[type="button"]:focus,
input[type="search"]:focus {
	outline-offset: -2px;
}

/* disabled */

input:disabled,
input:disabled:hover,
textarea:disabled,
textarea:disabled:hover {
	background: #eee;
	border-color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span,
input[type="checkbox"]:disabled + span {
	color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span::before,
input[type="checkbox"]:disabled + span::before {
	border-color: #ccc;
	cursor: not-allowed;
}

/* バリデーション */

/* placeholder */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* リキッドレイアウト対応 */

html {
	font-size: 4.26667vw;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fff;
	color: #393939;
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.6;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	overflow-wrap: break-word;
	position: relative;
	z-index: -9999;
}

/* Box sizing rules */

*,
*::before,
*::after {
	box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

video,
iframe,
object {
	border: none;
	height: auto;
	max-width: 100%;
}

ul,
ol {
	list-style: none;
}

table {
	border: 1px solid;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

th,
td {
	border: 1px solid;
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}

address {
	font-style: normal;
}

b,
strong {
	font-weight: 700;
}

form {
	margin: 0;
	padding: 0;
}

label {
	display: inline-block;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
	touch-action: manipulation;
}

input,
button,
select,
optgroup,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
}

button,
select {
	text-transform: none;
}

select {
	cursor: pointer;
}

textarea {
	-ms-overflow-style: scrollbar;
	overflow: auto;
	resize: vertical;
}

dialog {
	background-color: inherit;
	border: solid;
	color: inherit;
	display: block;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	left: 0;
	margin: auto;
	padding: 1em;
	position: absolute;
	right: 0;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

dialog:not([is-open]) {
	display: none;
}

summary {
	cursor: pointer;
	display: list-item;
}

/* Remove all animations and transitions for people that prefer not to see them */

.l-breadcrumb {
	margin-top: 5px;
}

.l-about-gellery {
	margin-bottom: 101px;
	margin-top: 98px;
}

.l-blog {
	margin-top: 9.75rem;
}

.l-concept {
	margin-top: 3.75rem;
	padding-top: 6.5rem;
}

.l-feature {
	margin-top: 100px;
}

.l-header {
	height: 60px;
}

.l-inner {
	height: inherit;
	margin: 0 auto;
	max-width: 33.75rem;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.l-medical-info {
	margin-top: 6.1875rem;
}

.l-recommend {
	margin-top: 6.125rem;
}

.l-sub-fv {
	margin-top: 20px;
}

.l-sub-medical__general {
	margin-bottom: 101px;
	margin-top: 100px;
}

.l-sub-medical {
	margin-top: 57px;
}

.p-footer__map {
	margin-top: 20px;
	padding: 0 10px;
	padding-top: calc((315/315)*100%);
	position: relative;
	width: 100%;
}

.p-footer__map > iframe {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.c-article-label {
	background-color: #1391E6;
	border-radius: 10px;
	color: #fff;
	display: inline-block;
	font-size: 0.625rem;
	line-height: calc(14 /10);
	padding: 0.125rem 0.5rem;
}

.c-blog-date {
	color: #888;
	display: block;
	font-size: 0.6875rem;
}

.c-blog-title {
	font-size: 0.875rem;
	line-height: calc(24 /16);
	margin-top: 0.125rem;
}

.c-button {
	border: 1px solid #1391E6;
	border-radius: 40px;
	color: #1391E6;
	display: inline-block;
	font-size: 0.875rem;
	position: relative;
}

.c-footer-button {
	border: 1px solid #1391E6;
	border-radius: 20px;
	display: inline-block;
	font-size: 0.875rem;
	height: 38px;
	max-width: 150px;
	text-align: center;
	width: 100%;
}

.c-footer-button--blue {
	background-color: #1391E6;
	color: #fff;
}

.c-footer-top-img {
	height: 32px;
	position: relative;
}

.c-footer-top-img::before {
	background-image: url(../../../WordPressTheme/assets/img/wave.svg);
	background-repeat: no-repeat;
	content: "";
	height: inherit;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.c-section__title {
	display: inline-block;
	font-size: 1.25rem;
	font-weight: bold;
	letter-spacing: .08em;
	position: relative;
}

.c-section__title::before,
.c-section__title::after {
	background-image: url(../../../WordPressTheme/assets/img/section_title_heading.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	display: block;
	height: 15px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
}

.c-section__title::before {
	left: -66px;
}

.c-section__title::after {
	right: -66px;
}

.c-test {
	color: red;
	font-size: 1.25rem;
}

.c-title-wrap {
	text-align: center;
}

.p-about-gellery__img {
	padding-top: 100%;
	position: relative;
}

.p-about-gellery__img img {
	-o-object-fit: cover;
	border-radius: 20px;
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}

.p-about-gellery__photo {
	width: calc(50% - 12px * 1 / 2);
}

.p-about-gellery__photos {
	gap: 12px;
	display: flex;
	flex-wrap: wrap;
	margin-top: 37px;
}

.p-about-gellery-wrap {
	text-align: center;
}

.p-blog__button {
	margin-top: 40px;
	text-align: center;
}

.p-blog__button > a {
	font-size: 0.875rem;
	padding: 7px 40px;
	position: relative;
}

.p-blog__button > a::after {
	color: #1391e6;
	content: "\f061";
	display: block;
	font-family: "Font Awesome 5 Free";
	font-size: 1.2em;
	font-weight: bold;
	position: absolute;
	right: 7px;
	top: 50%;
	transform: translateY(-50%);
	width: 21px;
}

.p-blog__img-wrap {
	max-width: 8.3125rem;
	padding-top: calc((101/335)*100%);
	position: relative;
	width: 100%;
}

.p-blog__img-wrap img {
	-o-object-fit: cover;
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}

.p-blog__items {
	display: flex;
	flex-direction: column;
	margin-top: 2.875rem;
}

.p-breadcrumb span {
	color: #c2c2c2;
	font-size: 0.75rem;
	padding-right: 3px;
}

.p-breadcrumb span.current-item {
	color: #393939;
	padding-left: 5px;
}

.p-concept__button-wrap {
	text-align: center;
}

.p-concept__button {
	line-height: 1;
	margin-top: 2.3125rem;
	padding: 10px 40px 13px;
}

.p-concept__button::after {
	color: #1391E6;
	content: "\f061";
	display: block;
	font-family: "Font Awesome 5 Free";
	font-size: 1.2em;
	font-weight: bold;
	position: absolute;
	right: 7px;
	top: 50%;
	transform: translateY(-50%);
	width: 21px;
}

.p-concept__img-wrap {
	background-color: transparent;
	margin-top: 2.5625rem;
	width: 89.0666%;
}

.p-concept__img {
	border-radius: 0 20px 20px 0;
}

.p-concept__text {
	font-size: 0.875rem;
	line-height: calc(24 /14);
	margin-top: 1.6875rem;
}

.p-concept__title {
	font-size: 1.25rem;
	font-weight: bold;
	letter-spacing: .08em;
	line-height: 1.6;
	margin-top: 0.6875rem;
}

.p-concept__title--en {
	color: #1391E6;
	font-size: 0.6875rem;
	font-weight: bold;
	letter-spacing: .1em;
	text-transform: uppercase;
}

.p-concept {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
}

.p-concept::before {
	background-image: url(../../../WordPressTheme/assets/img/concept-bg_sp.png);
	background-repeat: no-repeat;
	background-size: 147%;
	content: "";
	display: block;
	height: 80vh;
	left: 2%;
	position: absolute;
	top: 0;
	width: 102%;
	z-index: -1;
}

.p-drawer__link {
	display: block;
}

.p-drawer__logo {
	display: inline-block;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-top: 0.9375rem;
}

.p-drawer__logo img {
	width: 270px;
}

.p-drawer__menu {
	border-top: 2px dotted #fff;
	position: relative;
	width: 68%;
}

.p-drawer__menu:last-child {
	border-bottom: 2px dotted #fff;
}

.p-drawer__menu::before {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	display: inline-block;
	height: 24px;
	left: 0;
	position: absolute;
	top: 16px;
	width: 24px;
}

.p-drawer__menu::after {
	content: "\f061";
	display: block;
	font-family: "Font Awesome 5 Free";
	font-weight: bold;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.p-drawer__menu a {
	display: block;
	padding-bottom: 1.1875rem;
	padding-left: 2.375rem;
	padding-top: 1.125rem;
}

.p-drawer__menu--home::before {
	background-image: url(../../../WordPressTheme/assets/img/icon_home.png);
}

.p-drawer__menu--about::before {
	background-image: url(../../../WordPressTheme/assets/img/icon_about.png);
}

.p-drawer__menu--info::before {
	background-image: url(../../../WordPressTheme/assets/img/icon_info.png);
}

.p-drawer__menu--staff::before {
	background-image: url(../../../WordPressTheme/assets/img/icon_staff.png);
}

.p-drawer__menu--blog::before {
	background-image: url(../../../WordPressTheme/assets/img/icon_blog.png);
}

.p-drawer__menu--contact::before {
	background-image: url(../../../WordPressTheme/assets/img/icon_contact.png);
}

.p-drawer__menus-wrap {
	background: #0060A0;
	bottom: 0;
	display: none;
	height: 100vh;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 40;
}

.p-drawer__menus-wrap.is-open {
	overflow-y: auto;
}

.p-drawer__menus {
	align-items: center;
	color: #fff;
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin-top: 2.5rem;
	position: absolute;
	width: inherit;
}

.p-drawer__toggle-icon {
	background: #1391E6;
	border-radius: 5px;
	display: block;
	height: 2px;
	position: relative;
	transition: ease .5s;
	width: 27px;
}

.p-drawer__toggle-icon:nth-child(1) {
	top: 0;
}

.p-drawer__toggle-icon:nth-child(2) {
	margin: 5px 0;
}

.p-drawer__toggle-icon:nth-child(1) {
	bottom: 0;
}

.p-drawer__toggle {
	z-index: 9999;
}

.p-drawer__toggle.is-checked .p-drawer__toggle-icon {
	background-color: #fff;
}

.p-drawer__toggle.is-checked .p-drawer__toggle-icon:nth-child(1) {
	top: 6px;
	transform: rotate(45deg);
}

.p-drawer__toggle.is-checked .p-drawer__toggle-icon:nth-child(2) {
	opacity: 0;
	transform: translateY(-50%);
}

.p-drawer__toggle.is-checked .p-drawer__toggle-icon:nth-child(3) {
	top: -8px;
	transform: rotate(-45deg);
}

.p-feature__content {
	display: flex;
}

.p-feature__img {
	height: 61.2vw;
	margin-left: auto;
	margin-top: 37px;
	max-width: 334px;
	position: relative;
}

.p-feature__img img {
	-o-object-fit: cover;
	border-radius: 20px 0 0 20px;
	height: 100%;
	left: 0;
	max-height: 438px;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}

.p-policy__textarea,
.p-feature__textarea {
	padding: 0 20px;
}

.p-footer__access {
	font-size: 0.875rem;
	line-height: calc(36/14);
	margin-top: 3px;
	text-align: center;
}

.p-footer__access > span {
	display: inline-block;
	margin-left: 14px;
}

.p-footer__button {
	align-items: center;
	display: flex;
	justify-content: center;
}

.p-footer__button > span {
	display: inline-block;
	margin-left: 9px;
}

.p-footer__button--white {
	color: #1391E6;
}

.p-footer__button-wrap {
	display: flex;
	justify-content: center;
	margin-top: 19px;
}

.p-footer__button + .p-footer__button {
	margin-left: 15px;
}

.p-footer__content {
	background-color: #fff;
	border-radius: 10px;
	padding: 30px 10px 20px 10px;
}

.p-footer__copy {
	background-color: #1391E6;
	color: #fff;
	margin: 0 calc(50% - 50vw);
	padding: 15px 0 79px 0;
	text-align: center;
	width: 100vw;
}

.p-footer__copy > small {
	display: inline-block;
	font-size: 14px;
}

.p-footer__hours {
	color: #1391E6;
	display: block;
	font-size: 12px;
	line-height: 1;
	margin-top: 7px;
	text-align: center;
}

.p-footer__inner {
	padding-left: 10px;
	padding-right: 10px;
}

.p-footer__logo {
	margin-left: auto;
	margin-right: auto;
	max-width: 311px;
	width: 100%;
}

.p-footer__nav-item {
	font-weight: bold;
}

.p-footer__nav-item:nth-child(2) {
	margin-top: 38px;
}

.p-footer__nav-item:nth-child(3) {
	margin-top: 33px;
}

.p-footer__nav-item:nth-child(4) {
	margin-top: 34px;
}

.p-footer__nav-item:nth-child(5) {
	margin-top: 32px;
}

.p-footer__nav {
	margin-top: 37px;
	padding-bottom: 54px;
	padding-left: 11px;
}

.p-footer__sub-nav-box {
	display: flex;
}

.p-footer__sub-nav-item + .p-footer__sub-nav-item {
	margin-top: 6px;
}

.p-footer__sub-nav-item > a {
	display: inline-block;
	font-weight: normal;
	font-weight: 500;
	line-height: calc(36/16);
	padding-left: 12px;
	position: relative;
}

.p-footer__sub-nav-item > a::before {
	background-image: url(../../../WordPressTheme/assets/img/arrow-dropright.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	height: 12px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 6px;
}

.p-footer__sub-nav {
	margin-top: 9px;
}

.p-footer__sub-nav + .p-footer__sub-nav {
	margin-left: 20px;
}

.p-footer__tel {
	color: #1391E6;
	display: block;
	font-size: 32px;
	font-weight: bold;
	line-height: 1;
	margin-top: 17px;
	text-align: center;
}

.p-footer__tel > img {
	height: 28px;
	left: 7px;
	position: relative;
	width: 28px;
}

.p-footer__time-sheet {
	background-color: #fff;
	border-radius: 12px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	margin-top: 20px;
	max-width: 477px;
}

.p-footer {
	background-color: #DFF1FD;
	padding-top: 14px;
}

.p-general__content {
	display: flex;
}

.p-general__heading-sub-title {
	color: #1391E6;
	display: block;
	font-size: 0.875rem;
	font-weight: bold;
	letter-spacing: .08em;
	line-height: calc(48/14);
	margin-top: 3px;
}

.p-general__heading-title {
	font-size: 1.25rem;
	font-weight: bold;
	letter-spacing: .08em;
}

.p-general__heading {
	border-bottom: 1px solid #C2C2C2;
	padding-bottom: 5px;
}

.p-general__icon {
	height: 60px;
	position: absolute;
	right: 0;
	top: -16px;
	width: 80px;
}

.p-general__img {
	margin-top: 18px;
	padding-top: calc((221/295)*100%);
	position: relative;
	width: 100%;
}

.p-general__img img {
	-o-object-fit: cover;
	border-radius: 20px;
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}

.p-general__inner {
	background: #DFF1FD;
	padding-bottom: 95px;
}

.p-general__item {
	position: relative;
}

.p-general__items {
	background-color: #fff;
	border-radius: 20px;
	margin-top: 35px;
	padding: 24px 20px 19px;
}

.p-general__items.child {
	margin-top: 32px;
}

.p-general__items.yobou {
	margin-top: 22px;
}

.p-general__items.white {
	margin-top: 18px;
}

.p-general__items.oral {
	margin-top: 21px;
}

.p-general__items.lazer {
	margin-top: 22px;
}

.p-general__text {
	font-size: 0.875rem;
	line-height: calc(24/14);
}

.p-general__text + .p-general__text {
	margin-top: 24px;
}

.p-general__textarea {
	margin-top: 18px;
}

.p-general__titles {
	padding-top: 31px;
	text-align: center;
}

.p-header__address {
	font-size: 12px;
	position: relative;
	text-align: right;
	top: -5px;
}

.p-header__drawer {
	margin-left: auto;
	position: relative;
	z-index: 200;
}

.p-header__icon {
	margin-bottom: 5px;
}

.p-header__inner {
	align-items: center;
	display: flex;
	padding-left: 1.25rem;
	padding-right: 1.0625rem;
}

.p-header__nav-link {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: 0.6875rem;
	font-weight: bold;
	height: inherit;
	justify-content: center;
}

.p-header__nav-link > span {
	letter-spacing: .04em;
	position: relative;
}

.p-header__nav-wrap {
	gap: 22px;
	align-items: center;
	display: flex;
	height: inherit;
	margin-right: 29px;
}

.p-header__nav {
	height: inherit;
}

.p-header__right {
	display: none;
	height: inherit;
	margin-left: auto;
}

.p-header__tel {
	color: #1391E6;
	font-size: 2rem;
	font-weight: bold;
	letter-spacing: -.02em;
	line-height: 1;
	padding-left: 33px;
	position: relative;
	text-align: right;
}

.p-header__tel::after {
	background-image: url(../../../WordPressTheme/assets/img/icon_tel.png);
	background-position: center;
	background-size: cover;
	content: "";
	display: block;
	height: 28px;
	left: 0;
	position: absolute;
	top: 7px;
	width: 28px;
}

.p-header__title {
	color: #1391E6;
	font-size: 1.25rem;
}

.p-header__title img {
	width: 270px;
}

.p-header__title a {
	display: block;
}

.p-header {
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.p-hero__fv {
	margin-top: 1.25rem;
	position: relative;
}

.p-hero__info {
	border-radius: 6px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	margin-top: -24px;
	position: relative;
	z-index: 1;
}

.p-hero__inner {
	display: flex;
	flex-direction: column;
}

.p-hero__news {
	margin-top: 2.375rem;
}

.p-medial-nav__sub-title {
	background-color: #1391E6;
	border-radius: 24px;
	color: #fff;
	font-size: 0.875rem;
	font-weight: bold;
	letter-spacing: .08em;
	margin-left: 22px;
	padding: 6px 12px;
}

.p-medial-nav__sub-title--red {
	background-color: #EE5A6D;
}

.p-medial-nav__title {
	font-size: 1.25rem;
	font-weight: bold;
	letter-spacing: .08em;
}

.p-medical-info__bottom-deco1 {
	height: 7.57812vw;
	position: relative;
	width: 100%;
}

.p-medical-info__bottom-deco1::before {
	background-image: url(../../../WordPressTheme/assets/img/bottom-bg.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	height: inherit;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: inherit;
}

.p-medical-info__bottom-deco2 {
	position: relative;
}

.p-medical-info__bottom-deco2::before {
	background-image: url(../../../WordPressTheme/assets/img/deco-kirakira2-w.png);
	background-repeat: no-repeat;
	background-size: contain;
	bottom: 44px;
	content: "";
	height: 25px;
	left: 12px;
	position: absolute;
	width: 25px;
}

.p-medical-info__bottom-deco2::after {
	background-image: url(../../../WordPressTheme/assets/img/deco-kirakira-w.png);
	background-repeat: no-repeat;
	background-size: contain;
	bottom: 30px;
	content: "";
	height: 58px;
	position: absolute;
	right: 5px;
	width: 53px;
}

.p-medical-info__container {
	background-color: #DFF1FD;
}

.p-medical-info__deco {
	padding-bottom: 96px;
}

.p-medical-info__inner {
	background-color: #DFF1FD;
	padding-top: 1.625rem;
}

.p-medical-info__item {
	margin-top: 1.3125rem;
}

.p-medical-info__item:last-of-type {
	margin-top: 1.0625rem;
}

.p-medical-info__items {
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.3125rem;
	max-width: 62.5rem;
}

.p-medical-info__link {
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 20px;
	display: block;
	height: 13.125rem;
	position: relative;
	width: 100%;
}

.p-medical-info__link::after {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	content: "";
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.p-medical-info__link--general {
	background-image: url(../../../WordPressTheme/assets/img/medical_1.jpg);
}

.p-medical-info__link--special {
	background-image: url(../../../WordPressTheme/assets/img/medical_2.jpg);
}

.p-medical-info__text {
	background-color: #fff;
	font-size: 0.875rem;
	line-height: calc(24 / 14);
	padding: 1.25rem;
}

.p-medical-info__text > span {
	display: inline-block;
}

.p-medical-info__top-deco {
	height: 22.66667vw;
	position: relative;
	width: 100%;
}

.p-medical-info__top-deco::before {
	background-image: url(../../../WordPressTheme/assets/img/bg-top-sp.svg);
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	height: inherit;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.p-medical-link__text {
	color: #fff;
	font-size: 0.75rem;
	font-weight: bold;
	letter-spacing: .08em;
	line-height: calc( 19 / 12);
	position: relative;
	z-index: 2;
}

.p-medical-link__title {
	color: #fff;
	font-size: 1.25rem;
	font-weight: bold;
	letter-spacing: .08em;
	line-height: calc(23/ 20);
	padding-bottom: 2.625rem;
	position: relative;
	text-align: center;
	z-index: 2;
}

.p-medical-link__title::after {
	background-color: #fff;
	border-radius: 30px;
	bottom: 19px;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: 30px;
	z-index: 2;
}

.p-medical-link__wrap {
	left: 0;
	position: relative;
	text-align: center;
	top: 31%;
	z-index: 2;
}

.p-medical-nav__item > a {
	border: 1px solid #1391E6;
	border-radius: 12px;
	color: #1391E6;
	display: block;
	font-size: 1.25rem;
	font-weight: bold;
	letter-spacing: .08em;
	padding: 15px 0 11px 0;
	text-align: center;
}

.p-medical-nav__item + .p-medical-nav__item {
	margin-top: 16px;
}

.p-medical-nav__items {
	margin-top: 31px;
}

.p-medical-nav__titles {
	align-items: center;
	display: flex;
}

.p-medical-nav__wrap + .p-medical-nav__wrap {
	margin-top: 81px;
}

.p-news__body {
	margin-top: 0.25rem;
}

.p-news__content {
	font-size: 0.875rem;
}

.p-news__content::after {
	color: #393939;
	content: "\f061";
	display: block;
	font-family: "Font Awesome 5 Free";
	font-size: 1.4em;
	font-weight: bold;
	position: absolute;
	right: 0;
	top: 11%;
	width: 21px;
}

.p-news__date {
	font-size: 0.75rem;
	margin-right: 1.5rem;
}

.p-news__heading {
	align-items: center;
	display: flex;
}

.p-news__list {
	align-items: center;
	border-bottom: 1px solid #393939;
	border-top: 1px solid #393939;
	display: flex;
	padding-bottom: 0.625rem;
	padding-left: 0.375rem;
	padding-right: 2.1875rem;
	padding-top: 0.75rem;
	position: relative;
}

.p-news__title--en {
	color: #1391E6;
	display: inline-block;
	font-size: 0.6875rem;
	font-weight: bold;
	letter-spacing: .1em;
	margin-top: auto;
	text-transform: uppercase;
}

.p-news__title--past {
	border-bottom: 1px solid #888;
	color: #888;
	display: inline-block;
	margin-left: auto;
}

.p-news__title--past a {
	display: inline-block;
	display: block;
	font-size: 0.6875rem;
}

.p-news__title {
	font-size: 1.25rem;
	font-weight: bold;
	letter-spacing: .08em;
	margin-right: 0.875rem;
	padding-left: 1rem;
}

.p-policy__content {
	margin-top: 37px;
	overflow: hidden;
}

.p-policy__deco {
	padding-top: 110px;
	position: relative;
}

.p-policy__deco::before {
	background-image: url(../../../WordPressTheme/assets/img/concept-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	height: 81.06667vw;
	left: 3%;
	position: absolute;
	top: 0;
	width: 102%;
	z-index: -1;
}

.p-policy__img {
	height: 61.2vw;
	margin-right: auto;
	margin-top: 37px;
	position: relative;
	width: calc((334/375)*100%);
}

.p-policy__img img {
	-o-object-fit: cover;
	border-radius: 0 20px 20px 0;
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}

.p-policy__sub-title,
.p-feature__sub-title {
	color: #1391E6;
	display: block;
	font-size: 0.6875rem;
	font-weight: bold;
	letter-spacing: .1em;
	text-transform: uppercase;
}

.p-policy__text,
.p-feature__text {
	font-size: 0.875rem;
	line-height: calc(24/14);
}

.p-policy__text {
	margin-top: 24px;
}

.p-feature__text {
	margin-top: 25px;
}

.p-policy__text + .p-policy__text {
	margin-top: 26px;
}

.p-policy__title-wrap {
	margin-top: 54px;
	text-align: center;
}

.p-policy__title,
.p-feature__title {
	font-size: 1.25rem;
	font-weight: bold;
	letter-spacing: .08em;
	line-height: calc(32/20);
	margin-top: 13px;
}

.p-recommend__img-wrap {
	margin-top: 0.8125rem;
	padding-left: 0.1875rem;
	padding-right: 0.1875rem;
}

.p-recommend__item + .p-recommend__item {
	margin-top: 1.1875rem;
}

.p-recommend__items {
	display: block;
	padding-left: 1.6875rem;
	padding-right: 1.6875rem;
}

.p-recommend__text {
	font-size: 0.875rem;
	line-height: calc(24 /14);
	margin-top: 1.375rem;
}

.p-recommend__text--red {
	color: #EE5A6D;
}

.p-recommend__title-wrap {
	text-align: center;
}

.p-recommend__title {
	text-align: center;
}

.p-recommend__title img {
	margin-top: 2.3125rem;
	width: 62%;
}

.p-slider__item img {
	aspect-ratio: 335 / 446.93;
}

.p-slider__text {
	bottom: 0;
	color: #fff;
	content: "";
	display: block;
	font-size: 1.25rem;
	font-weight: bold;
	left: 0;
	letter-spacing: .08em;
	line-height: 2.05;
	padding-bottom: 38px;
	padding-left: 20px;
	position: absolute;
	z-index: 1;
}

.p-slider__text--underline {
	border-bottom: 2px dotted #fff;
}

.p-sub-fv__content {
	padding-top: calc((188/335)*100%);
	position: relative;
	width: 100%;
}

.p-sub-fv__content::after,
.p-sub-fv__content::before {
	border-radius: 12px;
	content: "";
	position: absolute;
}

.p-sub-fv__content::before {
	background-image: url(../../../WordPressTheme/assets/img/page-about_top-sp.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 12px;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
	z-index: -1;
}

.p-sub-fv__content::after {
	background-color: rgba(0, 0, 0, 0.2);
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
}

.p-sub-fv__content.medical::before {
	background-image: url(../../../WordPressTheme/assets/img/page-medical_top-sp.png);
}

.p-sub-fv__head {
	color: #fff;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.p-sub-fv__title {
	font-size: 1.5rem;
	font-weight: bold;
	letter-spacing: .2em;
	white-space: nowrap;
}

.p-test {
	color: red;
	font-size: 1.25rem;
}

.p-blog__body {
	padding-left: 0.625rem;
	padding-right: 0.625rem;
	position: relative;
}

.p-blog__item {
	align-items: center;
	display: flex;
}

.p-blog__item + .p-blog__item {
	margin-top: 1.25rem;
}

.p-sub-fv__sub-title {
	display: block;
	font-size: 0.75rem;
	font-weight: bold;
	letter-spacing: .1em;
	margin-top: 13px;
	text-align: center;
}

.slick-dotted.slick-slider {
	margin-bottom: 0;
}

.slick-prev {
	left: -19px;
}

.slick-next {
	right: -13px;
}

.slick-prev,
.slick-next {
	height: 32px;
	width: 32px;
	z-index: 2;
}

.slick-prev:before,
.slick-next:before {
	font-size: 37px;
	opacity: 1;
}

.slick-prev::before {
	background-image: url(../../../WordPressTheme/assets/img/button-prev.png);
	background-size: contain;
}

.slick-next::before {
	background-image: url(../../../WordPressTheme/assets/img/button-next.png);
	background-size: contain;
}

.p-slider__wrap {
	flex: 0 0 100%;
	max-width: 1160px;
	position: relative;
}

.p-slider__wrap::after {
	background-color: rgba(0, 0, 0, 0.1);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
}

.slick-dots {
	bottom: 0;
	display: flex;
	flex-direction: column;
	left: -25px;
}

.slick-dots li {
	margin: -1px 5px;
}

.slick-dots li.slick-active button:before {
	color: #1391E6;
}

.p-slide__dots {
	font-size: 1px;
}

.u-text-red {
	color: #EE5A6D;
}

@media (prefers-reduced-motion: reduce) {

html:focus-within {
	scroll-behavior: auto;
}

*,
*::before,
*::after {
	-webkit-animation-duration: .01ms !important;
	-webkit-animation-iteration-count: 1 !important;
	animation-duration: .01ms !important;
	animation-iteration-count: 1 !important;
	scroll-behavior: auto !important;
	transition-duration: .01ms !important;
}

}

@media screen and (min-width: 375px) {

html {
	font-size: 16px;
}

.u-hidden-sp {
	display: none;
}

}

@media screen and (min-width: 768px) {

html {
	font-size: 1.25vw;
}

.l-breadcrumb {
	margin-top: 9px;
}

.l-about-gellery {
	margin-bottom: 160px;
	margin-top: 156px;
}

.l-concept {
	padding-bottom: 7.5625rem;
	padding-top: 11.125rem;
}

.l-feature {
	margin-top: 153px;
}

.l-header {
	height: 80px;
}

.l-hero__fv {
	padding-left: 1.375rem;
}

.l-inner {
	max-width: 1360px;
	padding-left: 40px;
	padding-right: 40px;
}

.l-medical-info {
	margin-top: 8.5625rem;
}

.l-recommend {
	margin-top: 6.75rem;
}

.l-sub-fv {
	margin-top: 40px;
}

.l-sub-medical__general {
	margin-bottom: 147px;
	margin-top: 159px;
}

.l-sub-medical {
	margin-top: 72px;
}

.p-footer__map {
	margin-left: auto;
	max-width: 24.0625rem;
	padding-top: calc((385/1000)*100%);
}

.c-blog-date {
	margin-top: 3px;
}

.c-blog-title {
	font-size: 1rem;
	margin-top: 0;
}

.c-footer-button {
	border-radius: 30px;
	height: 56px;
	max-width: 220px;
}

.c-section__title {
	font-size: 1.75rem;
}

.c-section__title::before,
.c-section__title::after {
	height: 17px;
	top: 46%;
	width: 67px;
}

.c-section__title::before {
	left: -96px;
}

.c-section__title::after {
	right: -93px;
}

.c-test {
	color: green;
	font-size: 3.125rem;
}

.p-about-gellery__inner {
	margin-left: auto;
	margin-right: auto;
	max-width: 62.4375rem;
	padding: 0;
}

.p-about-gellery__photo {
	width: calc(100% / 3 -  24px * 2 / 3);
}

.p-about-gellery__photos {
	gap: 24px;
	margin-top: 57px;
}

.p-blog__button {
	margin-top: 93px;
}

.p-blog__button > a {
	padding: 9px 45px;
}

.p-blog__img-wrap {
	max-width: 18.75rem;
	padding-top: calc((188 / 300 )* 100%);
}

.p-blog__items {
	gap: 50px;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4.75rem;
	max-width: 63.125rem;
	width: 100%;
}

.p-blog__label {
	border-radius: 14px;
	font-size: 0.6875rem;
	padding: 6px 12px;
	position: absolute;
	top: -14px;
}

.p-breadcrumb__inner {
	padding-left: 89px;
}

.p-concept__body {
	padding-top: 1.9375rem;
}

.p-concept__button-wrap {
	text-align: left;
}

.p-concept__button {
	padding: 14px 45px 13px;
}

.p-concept__img-wrap {
	margin-right: auto;
	margin-top: 0;
	width: 49.8%;
}

.p-concept__inner {
	margin-left: 0;
	margin-right: 130px;
	padding-left: 39px;
	padding-right: 0;
	width: 35.477%;
}

.p-concept__text {
	margin-top: 2.1875rem;
}

.p-concept__title {
	font-size: 1.75rem;
	margin-top: 1.375rem;
}

.p-concept__title--en {
	font-size: 0.875rem;
}

.p-concept {
	flex-direction: row-reverse;
}

.p-concept::before {
	background-image: url(../../../WordPressTheme/assets/img/concept-bg.png);
	background-size: 102%;
	height: 100vh;
	left: 33%;
}

.p-feature__img {
	margin-top: 0;
	max-height: 438px;
	max-width: initial;
	width: 50%;
}

.p-policy__textarea {
	margin-left: -46px;
	margin-right: auto;
	margin-top: 40px;
	max-width: 407px;
	padding: 0;
	padding-top: 34px;
	width: 100%;
}

.p-feature__textarea {
	margin-left: 140px;
	margin-top: 37px;
	max-width: 407px;
	padding: 0;
	width: 100%;
}

.p-footer__content {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	max-width: 62.5rem;
	padding: 40px 49px;
	width: 100%;
}

.p-footer__copy {
	margin-top: 53px;
	padding: 17px 0 19px 0;
}

.p-footer__info {
	margin-top: 44px;
}

.p-footer__logo {
	max-width: 402px;
}

.p-footer__nav-item:nth-child(2) {
	margin-left: 40px;
	margin-top: 0;
}

.p-footer__nav-item:nth-child(3) {
	margin-left: 40px;
	margin-top: 0;
}

.p-footer__nav-item:nth-child(4) {
	margin-left: 40px;
	margin-top: 0;
}

.p-footer__nav-item:nth-child(5) {
	margin-left: 40px;
	margin-top: 0;
}

.p-footer__nav-wrap {
	display: flex;
}

.p-footer__nav {
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	width: 1000px;
}

.p-general__content {
	margin-top: 20px;
}

.p-general__heading-sub-title {
	margin-left: 38px;
	margin-top: 0;
}

.p-general__heading-title {
	font-size: 28px;
}

.p-general__heading {
	align-items: center;
	display: flex;
	padding-bottom: 35px;
}

.p-general__icon {
	height: 80px;
	top: -51px;
	width: 100px;
}

.p-general__img {
	margin-left: auto;
	margin-top: 0;
	margin-top: 19px;
	max-width: 420px;
	padding-top: calc((315/880)*100%);
}

.p-general__inner {
	padding-bottom: 83px;
}

.p-general__items {
	margin-left: auto;
	margin-right: auto;
	margin-top: 58px;
	max-width: 1000px;
	padding: 52px 60px 60px;
	width: 100%;
}

.p-general__items.child {
	margin-top: 41px;
}

.p-general__items.yobou {
	margin-top: 40px;
}

.p-general__items.white {
	margin-top: 40px;
}

.p-general__items.oral {
	margin-top: 40px;
}

.p-general__items.lazer {
	margin-top: 40px;
}

.p-general__items.correct {
	margin-top: 40px;
}

.p-general__items.denture {
	margin-top: 52px;
}

.p-general__textarea {
	max-width: 420px;
	width: 100%;
}

.p-general__titles {
	padding-top: 4px;
}

.p-header__drawer {
	display: none;
}

.p-header__right {
	align-items: center;
	display: flex;
}

.p-hero__fv {
	margin-top: 2.5625rem;
}

.p-hero__info {
	flex: 0 0 39.8%;
	margin-left: auto;
	margin-right: 59px;
	margin-top: -36px;
	order: 3;
}

.p-hero__inner {
	flex-direction: row;
	flex-wrap: wrap;
}

.p-hero__news {
	flex: 0 0 44.9%;
	margin-left: 60px;
	margin-top: 17px;
}

.p-medial-nav__title {
	font-size: 1.75rem;
}

.p-medical-info__bottom-deco2::before {
	bottom: 7.57812vw;
	content: "";
	height: 58px;
	left: 42px;
	width: 58px;
}

.p-medical-info__bottom-deco2::after {
	bottom: 5.78125vw;
	height: 138px;
	right: 20px;
	width: 125px;
}

.p-medical-info__inner {
	padding-top: 0;
}

.p-medical-info__item {
	margin-top: 0;
}

.p-medical-info__item:last-of-type {
	margin-top: 0;
}

.p-medical-info__item:first-child {
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	-ms-grid-column: 1;
	-ms-grid-column-span: 1;
	grid-area: 1 / 1 / 2 / 2;
}

.p-medical-info__item:nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	-ms-grid-column: 2;
	-ms-grid-column-span: 1;
	grid-area: 1 / 2 / 2 / 3;
}

.p-medical-info__item:last-child {
	-ms-grid-row: 2;
	-ms-grid-row-span: 1;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-area: 2 / 1 / 3 / 3;
}

.p-medical-info__items {
	grid-column-gap: 80px;
	grid-row-gap: 61px;
	-ms-grid-columns: (1fr)[2];
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding-top: 20px;
}

.p-medical-info__link {
	height: 18rem;
}

.p-medical-info__text {
	line-height: calc(28 / 14);
	padding: 2.1875rem 2.5rem;
}

.p-medical-info__top-deco {
	height: 15.70313vw;
}

.p-medical-info__top-deco::before {
	background-image: url(../../../WordPressTheme/assets/img/bg-top.svg);
}

.p-medical-link__text {
	font-size: 1rem;
	line-height: calc( 28 / 16);
}

.p-medical-link__title {
	font-size: 1.75rem;
	line-height: calc(32/ 28);
	padding-bottom: 2.8125rem;
}

.p-medical-link__title::after {
	width: 40px;
}

.p-medical-link__wrap {
	top: 33%;
}

.p-medical-nav__inner {
	margin-left: auto;
	margin-right: auto;
	max-width: 998px;
	padding: 0;
	width: 100%;
}

.p-medical-nav__item > a {
	font-size: 24px;
	padding: 14px 30px;
}

.p-medical-nav__item + .p-medical-nav__item {
	margin-left: 16px;
	margin-top: 0;
}

.p-medical-nav__items {
	display: flex;
	margin-top: 29px;
}

.p-news__body {
	margin-top: 6px;
}

.p-news__date {
	margin-right: 1.3125rem;
}

.p-news__list {
	padding-bottom: 8px;
	padding-left: 14px;
	padding-top: 8px;
}

.p-news__title--en {
	font-size: 0.75rem;
	letter-spacing: .1em;
	line-height: 2;
}

.p-news__title--past a {
	font-size: 0.75rem;
}

.p-news__title {
	letter-spacing: .1em;
	padding-left: 0.875rem;
}

.p-policy__deco {
	padding-bottom: 115px;
	padding-top: 162px;
}

.p-policy__deco::before {
	background-image: url(../../../WordPressTheme/assets/img/concept-bg_sp.svg);
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	height: 725px;
	left: 32.5%;
	position: absolute;
	top: 20px;
	width: 102%;
}

.p-policy__img {
	max-height: 438px;
	width: 50%;
}

.p-policy__sub-title,
.p-feature__sub-title {
	font-size: 0.875rem;
}

.p-policy__text {
	margin-top: 35px;
}

.p-feature__text {
	margin-top: 36px;
}

.p-policy__text + .p-policy__text {
	margin-top: 24px;
}

.p-feature__text + .p-feature__text {
	margin-top: 24px;
}

.p-policy__title-wrap {
	margin-top: 74px;
}

.p-policy__title,
.p-feature__title {
	font-size: 1.75rem;
	margin-top: 21px;
}

.p-policy__wrap {
	display: flex;
	flex-direction: row-reverse;
}

.p-recommend__img-wrap {
	padding-left: 0;
	padding-right: 0;
}

.p-recommend__inner {
	max-width: 60.375rem;
	padding-left: 0;
	padding-right: 0;
}

.p-recommend__item + .p-recommend__item {
	margin-top: 0;
}

.p-recommend__items {
	-ms-grid-columns: (1fr)[3];
	-ms-grid-rows: (1fr)[1];
	gap: 0 62px;
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(1, 1fr);
	padding-left: 0;
	padding-right: 0;
}

.p-recommend__title img {
	margin-top: 3.4375rem;
}

.p-slider__item img {
	aspect-ratio: 1160 / 520;
	border-radius: 20px;
}

.p-slider__text {
	font-size: 2rem;
	letter-spacing: .15em;
	line-height: 2.2;
	padding-bottom: 50px;
	padding-left: 82px;
}

.p-slider__text--underline {
	border-bottom: 5px dotted #fff;
	padding-bottom: 5px;
}

.p-sub-fv__content {
	padding-top: calc((340/1160)*100%);
}

.p-sub-fv__content::before {
	background-image: url(../../../WordPressTheme/assets/img/page-about_top.jpg);
}

.p-sub-fv__content.medical::before {
	background-image: url(../../../WordPressTheme/assets/img/page-medical_top.png);
}

.p-sub-fv__inner {
	padding-left: 60px;
	padding-right: 60px;
}

.p-sub-fv__title {
	font-size: 2rem;
	letter-spacing: .1em;
}

.p-test {
	color: green;
	font-size: 3.125rem;
}

.p-blog__body {
	padding: 21px 24px 13px 24px;
}

.p-blog__item {
	border-radius: 20px;
	box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.16);
	flex-direction: column;
	width: calc(100% / 3 - 50px * 2 / 3);
}

.p-blog__item + .p-blog__item {
	margin-top: 0;
}

.p-sub-fv__sub-title {
	font-size: 0.875rem;
}

.slick-prev {
	left: -26px;
}

.slick-next {
	right: -7px;
}

.slick-prev:before,
.slick-next:before {
	font-size: 55px;
}

.p-slider__wrap::after {
	border-radius: 20px;
}

.slick-dots {
	left: -36px;
}

}

@media (min-width: 1280px) {

html {
	font-size: 16px;
}

}

@media screen and (min-width: 1280px) {

.c-test {
	color: blue;
}

.p-test {
	color: blue;
}

.u-hidden-pc {
	display: none;
}

}

@media screen and (min-width: 1440px) {

.c-test {
	color: brown;
}

.p-test {
	color: brown;
}

}

