.p-blog-categpry__item {
  &:nth-child(n+2) {
    margin-top: 1px;
  }
}

.p-blog-categpry__item a {
  display: block;
  font-size: 16px;
  line-height: calc(36/16);
  padding-left: 12px;
  position: relative;
  &::before {
    background-image: url(../../../WordPressTheme/assets/img/md-arrow-dropright.svg);
    content: "";
    height: 12px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
  }
}
