.p-blog-card__date {
  color: #888;
  display: inline-block;
  font-size: 11px;
  // line-height: calc(38/11);
  @include mq(tab) {
    font-size: 12px;
    margin-top: 15px;
  }
}

.p-blog-card__date.aside {
  @include mq(tab) {
    font-size: 11px;
    margin-top: 6px;
  }
}
