.p-blog-article__heading {
  margin-bottom: 60px;
}

.p-blog-article__title {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: .08em ;
  line-height: calc(40/28);
  margin-bottom: 20px;
}

.p-blog-article__meta {
  align-items: center;
  display: flex;
}

.p-blog-article__date {
  color: $main-color;
  display: inline-block;
  font-size: 16px;
  margin-right: 32px;
  padding-left: 20px;
  position: relative;
  &::after {
    background-image: url(../../../WordPressTheme/assets/img/icon-pen.svg);
    background-size: contain;
    content: "";
    height: 14px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
  }
}

.p-blog-article__content {
  h2 {
    border-left: 8px solid $main-color;
    color: $main-color;
    font-size: 24px;
    font-weight: bold;
    line-height: calc(32/24);
    margin-top: 60px;
    padding-left: 28px;
  }

  h3 {
    border-bottom: 1px solid $main-color;
    color: $main-color;
    font-size: 20px;
    font-weight: bold;
    line-height: calc(32/20);
    margin-bottom: 16px;
    margin-top: 40px;
    padding-bottom: 6px;
  }

  h4 {
    color: $main-color;
    letter-spacing: .08em;
    line-height: 2;
    margin-top: 60px;
    margin-bottom: 16px;
  }

  p {
    font-size: 14px;
    line-height: calc(24/14);
  }

  p > a {
    border-bottom: 1px solid $main-color;
    color: $main-color;
    transition: all .3s ease;
    &:hover {
      border-bottom: none;
    }
  }

  p + p {
    margin-top: 20px;
  }

  figure.wp-block-image {
    margin-top: 20px;
  }

  ul {
    margin-top: 20px;
    padding-left: 25px;
  }

  li {
    list-style: initial;
  }
}
