.p-drawer__menus-wrap {
  background: $sub-color;
  bottom: 0;
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: $layer-drawer;
}

.p-drawer__menus-wrap.is-open {
  overflow-y: auto;
}