.p-feature__img {
  height: 61.2vw;
  @include mq(tab) {
    margin-top: 0;
    max-height: 438px;
    max-width: initial;
    width: 50%;
  }
  // margin-left: auto;
  margin-top: 37px;
  max-width: 334px;
  position: relative;
}

.p-feature__img img {
  border-radius: 20px 0 0 20px;
  height: 100%;
  left: 0;
  max-height: 438px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}
