.p-form-item__right {
  font-size: 0;
  @include mq(tab) {
    flex-grow: 1;
    margin-top: 0;
  }
  margin-top: 10px;
}

.p-form-item__right > select {
  background-color: #f6f6f6;
  border-color: #f6f6f6;
  border-radius: 4px;
  font-size: rem(16);
}

.p-form-item__right > textarea {
  font-size: rem(16);
}
