.p-form-item {
  border-top: 1px solid #ddd;
  @include mq(tab) {
    display: flex;
    padding-bottom: 3px;
    padding-top: 26px;
  }
}

.p-form-item__sub-text {
  color: #888;
  flex: 0 0 100%;
  font-size: 11px;
  line-height: 1;
  margin-bottom: 2px;
  margin-top: 4px;
}
