.p-greeting__text-wrap {
  @include mq(tab) {
    margin-top: 37px;
  }
  margin-top: 29px;
}

.p-greeting__text-wrap2 {
  margin-top: 24px;
}

.p-greeting__text-wrap3 {
  @include mq(tab) {
    margin-top: 15px;
  }
  margin-top: 34px;
  text-align: right;
}
