.p-general__img {
  @include mq(tab) {
    margin-left: rem(40);
    margin-top: 0;
    margin-top: 19px;
    max-width: 420px;
    padding-top: calc((315/880)*100%);
  }
  margin-left: 0;
  margin-top: 18px;
  padding-top: calc((221/295)*100%);
  position: relative;
  width: 100%;
}

.p-general__img img {
  border-radius: 20px;
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}
