.p-header__tel {
  color: $main-color;
  font-size: rem(32);
  font-weight: bold;
  letter-spacing: -.02em;
  line-height: 1;
  padding-left: 33px;
  position: relative;
  text-align: right;
  &::after {
    background-image: url(../../../WordPressTheme/assets/img/icon_tel.png);
    background-position: center;
    background-size: cover;
    content: "";
    display: block;
    height: 28px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 28px;
  }
}