.p-hero__info {
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  @include mq(tab) {
    flex: 0 0 39.8%;
    margin-left: rem(63);
    // margin-right: 59px;
    margin-top: -36px;
    max-width: rem(477);
    order: 3;
  }
  margin-top: -24px;
  position: relative;
  z-index: $layer-default;
}

.p-hero__info > img {
  @include mq("tab") {
    max-width: rem(477);
  }
}
