.p-medical-nav__item > a {
  border: 1px solid $main-color;
  border-radius: 12px;
  color: $main-color;
  display: block;
  font-size: rem(20);
  font-weight: bold;
  letter-spacing: .08em;
  padding: 15px 0 11px 0;
  text-align: center;
}

.p-medical-nav__item + .p-medical-nav__item {
  margin-top: 16px;
}
