.p-medical-info__items {
  @include mq(tab) {
    display: grid;
    grid-column-gap: 80px;
    grid-row-gap: 61px;
    grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: repeat(2, 1fr);
    margin-top: 20px;
  }
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(37);
  max-width: rem(1000);
}
