.p-medical-nav__item > a {
  border: 1px solid $main-color;
  border-radius: 12px;
  color: $main-color;
  display: block;
  font-size: rem(20);
  font-weight: bold;
  @include mq(tab) {
    font-size: 24px;
    padding: 14px 30px;
  }
  letter-spacing: .08em;
  padding: 15px 0 11px 0;
  text-align: center;
  transition: all .3s ease;
  &:hover {
    background-color: $main-color;
    color: $white;
  }
}

.p-medical-nav__item + .p-medical-nav__item {
  @include mq(tab) {
    margin-left: 16px;
    margin-top: 0;
  }
  margin-top: 16px;
}
