.p-news__list {
  align-items: center;
  border-bottom: 1px solid $text-color;
  border-top: 1px solid $text-color;
  display: flex;
  padding-bottom: rem(10);
  padding-left: rem(6);
  padding-right: rem(35);
  padding-top: rem(12);
  position: relative;
}