.p-news__list {
  align-items: center;
  border-bottom: 1px solid $text-color;
  border-top: 1px solid $text-color;
  display: flex;
  @include mq(tab) {
    padding-bottom: 8px;
    padding-left: 14px;
    padding-top: 8px;
  }
  padding-bottom: rem(10);
  padding-left: rem(6);
  padding-right: rem(35);
  padding-top: rem(12);
  position: relative;
  transition: all .3s ease;
  &:hover {
    color: $main-color;
    .p-news__content::after {
      color: $main-color;
      right: -2px;
    }
  }
}
