.p-news__title--past {
  border-bottom: 1px solid #888;
  color: #888;
  display: inline-block;
  margin-left: auto;
}

.p-news__title--past a {
  display: inline-block;
  display: block;
  font-size: rem(11);
  @include mq(tab) {
    font-size: rem(12);
  }
}