.p-policy__text,
.p-feature__text {
  font-size: rem(14);
  line-height: calc(24/14);
}

.p-policy__text {
  @include mq(tab) {
    margin-top: 35px;
  }
  margin-top: 24px;
}

.p-feature__text {
  @include mq(tab) {
    margin-top: 36px;
  }
  margin-top: 25px;
}


.p-policy__text + .p-policy__text {
  @include mq(tab) {
    margin-top: 24px;
  }
  margin-top: 26px;
}

.p-feature__text + .p-feature__text {
  @include mq(tab) {
    margin-top: 24px;
  }
}
