.p-policy__img {
  margin-left: -20px;
  margin-top: 37px;
  padding-top: calc((229/334)*100%);
  position: relative;
  max-width: 334px;
}

.p-policy__img img {
  border-radius: 0 20px 20px 0;
  height: 100% ;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
