.p-policy__deco {
  @include mq(tab) {
    padding-bottom: 115px;
    padding-top: 162px;
  }
  padding-top: 110px;
  position: relative;
  &::before {
    background-image: url(../../../WordPressTheme/assets/img/concept-bg.png);
    // background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    height: 81.06667vw;
    @include mq(tab) {
      background-image: url(../../../WordPressTheme/assets/img/concept-bg_sp.svg);
      background-repeat: no-repeat;
      background-size: contain;
      content: "";
      height: 725px;
      left: 32.5%;
      position: absolute;
      top: 20px;
      width: 102%;
    }
    left: 3%;
    position: absolute;
    top: 0;
    width: 102%;
    z-index: -1;
  }
}
