.p-staff__def-title {
  background-color: $sub-color-second;
  width: calc((140/335)*100%);
  @include mq(tab) {
    width: 50%;
  }
}

.p-staff__def-title,
.p-staff__def-data {
  border-bottom: 1px solid $white;
  padding: 16px 20px;
  font-size: 14px;
}
