.p-sp-footer {
  background-color: rgba($color: #fff, $alpha: .8);
}

.p-sp-footer__wrap {
  display: flex;
}

.p-sp-footer__phone > a {
  color: $main-color;
  display: flex;
  font-size: 20px;
}

.p-sp-footer__phone > a > img {
  object-fit: contain;
  width: 18px;
}

.p-sp-footer__time {
  font-size: 10px;
  text-align: center;
}

.p-sp-footer__right {
  background-color: $main-color;
  border-radius: 8px;
  color: $white;
  margin-left: 12px;
  max-width: 157px;
  width: 100%;
}

.p-sp-footer__right > a {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 11px;
  padding-bottom: 10px;
}

.p-sp-footer__icon {
  margin-right: 10px;
}

.p-sp-footer__text {
  font-size: 16px;
  line-height: 1;
  text-align: center;
}

.p-sp-footer__text > span {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
}
