.p-sub-fv__content {
  @include mq(tab) {
    padding-top: calc((340/1160)*100%);
  }
  padding-top: calc((188/335)*100%);
  position: relative;
  width: 100%;
  &::after,
  &::before {
    border-radius: 12px;
    content: "";
    position: absolute;
  }
  &::before {
    background-image: url(../../../WordPressTheme/assets/img/page-about_top-sp.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    height: 100%;
    @include mq(tab) {
      background-image: url(../../../WordPressTheme/assets/img/page-about_top.jpg);
    }
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
  }
  &::after {
    background-color: rgba(0, 0, 0, .2);
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }
}

.p-sub-fv__content.medical {
  &::before {
    background-image: url(../../../WordPressTheme/assets/img/page-medical_top-sp.png);
    @include mq(tab) {
      background-image: url(../../../WordPressTheme/assets/img/page-medical_top.png);
    }
  }
}
