.p-sub-staff__slider {
  margin-top: 97px;
  text-align: center;
}

.p-sub-staff__slider img {
  width: 200px;
  border-radius: 20px;
}


// 色
$background: #fff; // 背景
$white: #fff; // 背景
$text-color: #393939; // テキスト色
$main-color: #1391E6; // メインカラー
$sub-color: #0060A0; // サブカラー
$sub-color-second: #DFF1FD; // サブカラー2
$accent-color: #EE5A6D; // アクセントカラー

// マウスホバー
$opacity: .7; // 透過度

// フォント
$font-family-base: 'M PLUS Rounded 1c', sans-serif; // ベースフォント
$font-size-base: 16px; // ベースフォントサイズ
$font-weight-base: 500; // ベースフォントウェイト
$lh: 1.6; // ベース行間

// ---
// レイアウト
// ---
$l-tab: 768px; // タブレットサイズ
$l-inner: 1280px; // インナー幅
$l-pc: 1440px; // パソコン幅

// ブレークポイント（PC基準）
$breakpoints: (
  "sp": "screen and (min-width: 375px)",
  "tab": "screen and (min-width: #{$l-tab})",
  "pc": "screen and (min-width: #{$l-inner})",
  "lg": "screen and (min-width: #{$l-pc})",
);
$padding-pc: 40px; // タブレット時の余白
$padding-sp: 20px; // スマホ時の余白

//ヘッダー高さ
$header-height-sp: 60px;
$header-height-pc: 80px;

//重なり順
$layer-toggle-button: 200;
$layer-modal: 100;
$layer-drawer: 40;
$layer-floating: 30;
$layer-header: 20;
$layer-footer: 10;
$layer-up: 2;
$layer-default: 1;
$layer-background: -1;
