// インナー
.l-inner {
  height: inherit;
  @include mq(tab) {
    max-width: $l-inner + strip-unit($padding-pc) * 2;
    padding-left: $padding-pc;
    padding-right: $padding-pc;
  }
  margin: 0 auto;
  max-width: rem(540); //状況によって変える必要があるかも
  padding-left: $padding-sp;
  padding-right: $padding-sp;
  width: 100%;
}