.c-button {
  border: 1px solid $main-color;
  border-radius: 40px;
  color: $main-color;
  display: inline-block;
  font-size: rem(14);
  position: relative;
  transition: all .3s ease;
  &:hover {
    background-color: $main-color;
    color: $white;
  }
}
