.c-footer-top-img {
  height: 32px;
  position: relative;
  &::before {
    background-image: url(../../../WordPressTheme/assets/img/wave.svg);
    // background-repeat: no-repeat;
    background-size: cover;
    content: "";
    height: inherit;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}
