input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  background-color: #f6f6f6;
  border: none;
  border-radius: 4px;
  padding: 13px 16px;
  width: 100%;
}

textarea {
  @include mq(tab) {
    min-height: 200px;
  }
  min-height: 160px;
  resize: vertical;
}

input[type="checkbox"] {
  font-size: 0;
}

input[type="checkbox"] + span {
  margin-right: 24px;
  // padding: 0 0 0 1px;
}

.p-form__check-box > label {
  &:nth-child(3n) {
    input[type="checkbox"] + span {
      @include mq("tab") {
        margin-right: 32px;
      }
      margin-right: 0;
    }
  }
  &:nth-child(4n) {
    @include mq("tab") {
      input[type="checkbox"] + span {
        margin-right: 0;
      }
    }
  }
}

select {
  background-color: #c2c2c2;
  border-color: #c2c2c2;
  width: 100%;
}

input[type="date"] {
  background-color: #f6f6f6;
  border-color: #f6f6f6;
  border-radius: 4px;
  color: #c2c2c2 ;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-top: 12px;
  width: 100%;
}

input[type="date"] + input[type="date"] {
  margin-top: 15px;
}
