//ロード時一瞬横並びになるのを回避------
.p-slider__wrap,
.p-sub-staff__slider {
  opacity: 0;
  transition: opacity .3s linear;
}

.p-slider__wrap.slick-initialized,
.p-sub-staff__slider.slick-initialized {
  opacity: 1;
}
//---------------------------------

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

// アローボタン
.slick-prev {
  @include mq(tab) {
    left: -26px;
  }
  left: -19px;
}

.slick-next {
  @include mq(tab) {
    right: -7px;
  }
  right: -13px;
}

.slick-prev,
.slick-next {
  height: 32px;
  width: 32px;
  z-index: $layer-up;
}

.slick-prev:before,
.slick-next:before {
  font-size: 37px;
  @include mq(tab) {
    font-size: 55px;
  }
  opacity: 1;
  // color: blue;
  //   box-shadow: 0 3px 6px 0 rgba(0,0,0,.6);
  //   content: "";
}

.slick-prev::before {
  background-image: url(../../../WordPressTheme/assets/img/button-prev.png);
  background-size: contain;
}

.slick-next::before {
  background-image: url(../../../WordPressTheme/assets/img/button-next.png);
  background-size: contain;
}

//画像の背景色
.p-slider__wrap {
  flex: 0 0 100%;
  max-width: 1980px;
  position: relative;
  &::after {
    background-color: rgba(0, 0, 0, .1);
    content: "";
    height: 100%;
    @include mq(tab) {
      border-radius: 20px;
    }
    left: 0;
    position: absolute;
    top: 0;
    // width: 100%;
  }
}

//ドットの調整
.slick-dots {
  bottom: 0;
  display: flex;
  flex-direction: column;
  @include mq(tab) {
    left: -36px;
  }
  left: -25px;
}

.slick-dots li {
  margin: -1px 5px;
}

.slick-dots li.slick-active button:before {
  color: $main-color;
}

.p-slide__dots {
  font-size: 1px;
}


.p-sub-staff__slider {
  img {
    @include mq("tab") {
      margin: 0 10px;
      max-height: 229px;
      max-width: 350px;
    }
    margin: 0 5px;
    max-width: 200px;
    object-fit: cover;
    width: 100%;
  }
}
